.idea/
.venv/
__pycache__/
*.pyc
deliveries.csv
matches.csv
Bank_management.py
calculAator.py
number guessing game.py
Heros_inventory.py
online_shopping.py
lib_management.py
library_project_streamlit.py
ipl_analysis.py
.streamlit/secrets.toml
